In [3]:
from textblob import TextBlob

quote1 = """It is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife."""

quote2 = """Darcy, as well as Elizabeth, really loved them; and they were both ever sensible of the warmest gratitude towards the persons who, by bringing her into Derbyshire, had been the means of uniting them."""

sentiment1 = TextBlob(quote1).sentiment
sentiment2 = TextBlob(quote2).sentiment

print(quote1 + " has a sentiment of " + str(sentiment1))
print(quote2 + " has a sentiment of " + str(sentiment2))

It is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife. has a sentiment of Sentiment(polarity=0.20952380952380953, subjectivity=0.27142857142857146)
Darcy, as well as Elizabeth, really loved them; and they were both ever sensible of the warmest gratitude towards the persons who, by bringing her into Derbyshire, had been the means of uniting them. has a sentiment of Sentiment(polarity=0.7, subjectivity=0.8)

In [16]:
import pandas as pd
with open("prejudice.txt",encoding="utf8") as f:
    data = f.read()

book = TextBlob(data)

print(book.sentiment)

sentiments = []
for s in book.sentences:
    sentiments.append(TextBlob(str(s)).sentiment)

df = pd.DataFrame(sentiments)
df

Sentiment(polarity=0.13442595418030331, subjectivity=0.5218845768097231)

      polarity  subjectivity
0     0.000000      0.000000
1     0.209524      0.271429
2     0.007500      0.381667
3     0.000000      0.066667
4     0.000000      0.000000
...        ...           ...
4818  0.166667      0.166667
4819  0.118750      0.700000
4820  0.015625      0.500000
4821  0.350000      0.550000
4822  0.700000      0.800000

[4823 rows x 2 columns]